doctype html
head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title Legendary game
  link(rel="stylesheet", href="/desktop-static/css/style.css")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
body
  #app

  script(src="/socket.io/socket.io.js")
  script.
    const socket = io( "", { query: "clinetType=desktop" } );
  script(src="/desktop-static/js/app.js", charset="utf-8")
